* {
    padding: 0;
    margin: 0;
}

html {
    width: 100vw;
    /* need to update this for game screen header */
    padding-top: 20vh;
}

/* Header component */
header {
    position: fixed;
    top: 0;
    width: 100vw;
    max-height: 20vh;
    padding-top: 1vh;
    background: white;
    z-index: 1;
}

header h1 {
    text-align: center;
    line-height: 9vh;
}

.progress-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.progress-bar ul {
    display: flex;
    list-style: none;
}

.progress-bar img {
    min-width: 50px;
    max-width: 8vw;
}

/* StartScreen component */
.start-screen ul {
    display: flex;
    list-style: none;
}
.start-screen img {
    min-width: 100px;
    max-width: 20vw;
}

/* GameScreen component */
.game-screen img {
    max-width: 100%;
}

.game-screen a {
    padding: 1vh;
}

/* Dropdown component */
.dropdown-box {
    position: absolute;
    background: lightgray;
}

/* TargetBox component */
.target-box {
    width: 10vw;
    max-width: 100px;
    height: 10vw;
    max-height: 100px;
    position: absolute;
    border: 5px dashed darkgreen;
    background: rgba(144, 238, 144, 0.4);
}