* {
    padding: 0;
    margin: 0;
}

html {
    width: 100vw;
    padding-top: 10vh;
}

/* Header component */
header {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 9vh;
    padding-top: 1vh;
    background: white;
}

header * {
    line-height: 9vh;
}

/* StartScreen component */
.start-screen ul {
    display: flex;
    list-style: none;
}
.start-screen img {
    min-width: 100px;
    max-width: 20vw;
}

/* Image component */
.image img {
    max-width: 100%;
}

.image a {
    padding: 1vh;
}

/* dropdown box */
.dropdown-box {
    position: absolute;
    background: lightgray;
}